{"openapi":"3.0.2","info":{"title":"OpenAgents Control API","version":"0.1.0","description":"Rust-owned control API for auth/session, policy, sync, control-plane route split, and Codex command bootstrap."},"servers":[{"url":"https://openagents.com"}],"paths":{"/api/auth/email":{"post":{"operationId":"authEmail","summary":"Request a magic-code login challenge.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"ok","challengeId":"challenge_123","email":"user@openagents.com"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/email","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"email":"user@openagents.com"}}}}}},"/api/auth/register":{"post":{"operationId":"authRegister","summary":"Bootstrap an API user + bearer token (local/testing only).","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"created":true,"tokenType":"Bearer","token":"oa_pat_123","tokenName":"staging-e2e","tokenAbilities":["*"],"user":{"id":"user_123","name":"Staging User","email":"staging-user@staging.openagents.com","handle":"staging-user"},"autopilot":{"id":"ap_123","handle":"creator-agent","displayName":"Creator Agent","status":"active","visibility":"private"}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/register","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"email":"staging-user@staging.openagents.com","name":"Staging User","tokenName":"staging-e2e","tokenAbilities":["*"],"createAutopilot":true,"autopilotDisplayName":"Creator Agent"}}}}}},"/api/auth/verify":{"post":{"operationId":"authVerify","summary":"Verify a login challenge and issue session tokens.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"authenticated","token":"oa_at_123","refreshToken":"oa_rt_123","tokenType":"Bearer"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/verify","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"code":"123456","device_id":"ios:device"}}}}}},"/api/auth/refresh":{"post":{"operationId":"authRefresh","summary":"Rotate an authenticated refresh token.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"oa_at_rotated","refreshToken":"oa_rt_rotated","tokenType":"Bearer"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/refresh","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"refresh_token":"oa_rt_123","rotate_refresh_token":true,"device_id":"ios:device"}}}}}},"/api/auth/session":{"get":{"operationId":"authSession","summary":"Read the current session bundle.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/session","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/auth/sessions":{"get":{"operationId":"authSessionList","summary":"List sessions for the authenticated user.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"sessions":[{"sessionId":"sess_123","status":"active"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/sessions","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/auth/sessions/revoke":{"post":{"operationId":"authSessionRevoke","summary":"Revoke one, device, or all sessions.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"revokedSessionIds":["sess_123"],"reason":"security_policy"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/sessions/revoke","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"revoke_all_sessions":true,"include_current":false,"reason":"security_policy"}}}}}},"/api/auth/logout":{"post":{"operationId":"authLogout","summary":"Logout the current session.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"logged_out"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/logout","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/me":{"get":{"operationId":"me","summary":"Read authenticated user profile and chat thread summaries.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"user":{"id":"usr_123","name":"OpenAgents User","email":"user@openagents.com","avatar":"","createdAt":null,"updatedAt":null},"chatThreads":[{"id":"thread-1","title":"Thread thread-1","updatedAt":"2026-02-22T00:00:00Z"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/me","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/autopilots":{"get":{"operationId":"autopilotsList","summary":"List autopilots owned by the authenticated user.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"autopilotsCreate","summary":"Create an autopilot for the authenticated user.","tags":["autopilot"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private"}}}}}},"/api/autopilots/{autopilot}":{"get":{"operationId":"autopilotsShow","summary":"Read one owned autopilot by id or handle.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"autopilotsUpdate","summary":"Update one owned autopilot.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"displayName":"EP212 Bot Updated","profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct"},"policy":{"toolAllowlist":["openagents_api"],"l402RequireApproval":true}}}}},"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/autopilots/{autopilot}/threads":{"get":{"operationId":"autopilotThreadsList","summary":"List threads for one owned autopilot.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"id":"thread_123","autopilotId":"ap_123","title":"Autopilot test thread","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot/threads","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"autopilotThreadsCreate","summary":"Create a thread for one owned autopilot.","tags":["autopilot"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"thread_123","autopilotId":"ap_123","title":"Autopilot test thread","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot/threads","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"title":"Autopilot test thread"}}}},"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/autopilots/{autopilot}/stream":{"post":{"operationId":"autopilotStreamBootstrap","summary":"Bootstrap autopilot turn execution and consume live updates via Khala WS.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"accepted":true,"autopilotId":"ap_123","autopilotConfigVersion":2,"threadId":"thread_123","conversationId":"thread_123","streamProtocol":"disabled","delivery":{"transport":"khala_ws","topic":"org:openagents:worker_events","scope":"runtime.codex_worker_events","syncTokenRoute":"/api/sync/token"},"control":{"method":"turn/start","workerId":"desktopw:shared","requestId":"autopilot_stream_123"},"response":{"thread_id":"thread_123","turn":{"id":"turn_456"},"message":{"id":"msg_1","thread_id":"thread_123","role":"user","text":"hello from autopilot stream alias"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot/stream","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"conversationId":"thread_123","messages":[{"id":"m1","role":"user","content":"hello from autopilot stream alias"}]}}}},"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/tokens":{"get":{"operationId":"tokensList","summary":"List personal access tokens for the authenticated user.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"id":"pat_123","name":"api-cli","abilities":["chat:read","chat:write"],"lastUsedAt":"2026-02-22T00:00:00Z","expiresAt":"2026-03-01T00:00:00Z","createdAt":"2026-02-22T00:00:00Z","isCurrent":true}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"tokensCreate","summary":"Create a personal access token and return the plaintext token once.","tags":["auth"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"oa_pat_123","tokenableId":"user_123","name":"api-cli","abilities":["chat:read","chat:write"],"expiresAt":"2026-03-01T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"name":"api-cli","abilities":["chat:read","chat:write"],"expires_at":"2026-03-01T00:00:00Z"}}}}},"delete":{"operationId":"tokensDestroyAll","summary":"Revoke all personal access tokens for the authenticated user.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deletedCount":2}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/tokens/current":{"delete":{"operationId":"tokensDestroyCurrent","summary":"Revoke the current bearer personal access token.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deleted":true}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens/current","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/tokens/{token_id}":{"delete":{"operationId":"tokensDestroy","summary":"Revoke a specific personal access token by id.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deleted":true}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens/:token_id","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"token_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/khala/token":{"post":{"operationId":"khalaToken","summary":"Issue a short-lived Khala identity token.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","token_type":"Bearer","expires_in":300,"issued_at":"2026-02-22T00:00:00Z","expires_at":"2026-02-22T00:05:00Z","issuer":"https://openagents.test","audience":"openagents-khala-test","subject":"user:user_123","claims_version":"oa_khala_claims_v1","scope":["codex:read","codex:write"],"workspace_id":"workspace_42","role":"admin","kid":"khala-auth-test-v1"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/khala/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scope":["codex:read","codex:write"],"workspace_id":"workspace_42","role":"admin"}}}}}},"/api/settings/profile":{"get":{"operationId":"settingsProfileShow","summary":"Read the authenticated user profile.","tags":["profile"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"usr_123","name":"OpenAgents User","email":"user@openagents.com","avatar":"","createdAt":null,"updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/settings/profile","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"patch":{"operationId":"settingsProfileUpdate","summary":"Update profile fields for the authenticated user.","tags":["profile"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"usr_123","name":"OpenAgents User","email":"user@openagents.com","avatar":"","createdAt":null,"updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/settings/profile","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"name":"Updated Name"}}}}},"delete":{"operationId":"settingsProfileDelete","summary":"Delete the authenticated user account.","tags":["profile"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deleted":true}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/settings/profile","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"email":"user@openagents.com"}}}}}},"/api/orgs/memberships":{"get":{"operationId":"orgMemberships","summary":"List organization memberships.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"memberships":[{"org_id":"org:openagents","role":"admin"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/orgs/memberships","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/orgs/active":{"post":{"operationId":"setActiveOrg","summary":"Set active organization for the current session.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/orgs/active","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"org_id":"org:openagents"}}}}}},"/api/policy/authorize":{"post":{"operationId":"policyAuthorize","summary":"Evaluate requested scopes/topics for an authenticated principal.","tags":["policy"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"allowed":true,"resolved_org_id":"org:openagents","granted_scopes":["runtime.read"],"denied_reasons":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/policy/authorize","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"org_id":"org:openagents","required_scopes":["runtime.read"],"requested_topics":["org:openagents:worker_events"]}}}}}},"/api/sync/token":{"post":{"operationId":"syncToken","summary":"Issue a Khala WebSocket sync token.","tags":["sync"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","token_type":"Bearer","expires_at":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/sync/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scopes":["runtime.codex_worker_events"],"topics":["org:openagents:worker_events"],"ttl_seconds":300,"device_id":"ios:device"}}}}}},"/api/runtime/threads":{"get":{"operationId":"runtimeThreadsList","summary":"List Codex thread projections for the current user.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"threads":[{"thread_id":"thread-1","message_count":3}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/threads","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/runtime/threads/{thread_id}/messages":{"get":{"operationId":"runtimeThreadMessagesList","summary":"List projected messages for a Codex thread.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"thread_id":"thread-1","messages":[{"message_id":"msg_1","role":"user","text":"hello"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/threads/:thread_id/messages","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"thread_id","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"runtimeThreadMessage","summary":"Submit a Codex thread message command.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"accepted","thread_id":"thread-1"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/threads/:thread_id/messages","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"text":"Summarize this thread."}}}},"parameters":[{"name":"thread_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/codex/workers/{worker_id}/requests":{"post":{"operationId":"runtimeCodexWorkerRequest","summary":"Dispatch an allowlisted Codex worker control request.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"worker_id":"desktopw:shared","request_id":"req_turn_1","ok":true,"method":"turn/start","idempotent_replay":false,"response":{"thread_id":"thread_123","turn":{"id":"turn_456"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers/:worker_id/requests","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"request":{"request_id":"req_turn_1","method":"turn/start","params":{"thread_id":"thread_123","text":"Continue from last checkpoint."},"request_version":"v1","source":"openagents-web-shell"}}}}},"parameters":[{"name":"worker_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/auth/session":{"get":{"operationId":"v1AuthSession","summary":"Compatibility alias for auth session.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/session","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."}},"/api/v1/auth/sessions":{"get":{"operationId":"v1AuthSessions","summary":"Compatibility alias for auth session list.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"sessions":[{"sessionId":"sess_123","status":"active"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/sessions","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."}},"/api/v1/auth/sessions/revoke":{"post":{"operationId":"v1AuthSessionsRevoke","summary":"Compatibility alias for session revocation.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"revokedSessionIds":["sess_123"],"reason":"security_policy"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/sessions/revoke","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"revoke_all_sessions":true,"include_current":false,"reason":"security_policy"}}}}}},"/api/v1/control/status":{"get":{"operationId":"controlStatus","summary":"Read runtime control status.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"ok","service":"openagents-control-service"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/status","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/v1/control/route-split/status":{"get":{"operationId":"controlRouteSplitStatus","summary":"Read route-split control status.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"mode":"cohort","override_target":null,"rollback_matrix":{"auth_entry":"legacy","billing_l402":"legacy","chat_pilot":"rust_shell"},"route_groups":[{"domain":"billing_l402","route_prefixes":["/billing","/l402"],"rollback_target":"legacy","override_target":null}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/status","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/v1/control/route-split/override":{"post":{"operationId":"controlRouteSplitOverride","summary":"Set route-split override target.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"mode":"cohort","override_target":null,"rollback_matrix":{"auth_entry":"legacy","billing_l402":"legacy","chat_pilot":"rust_shell"},"route_groups":[{"domain":"billing_l402","route_prefixes":["/billing","/l402"],"rollback_target":"legacy","override_target":null}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/override","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"target":"rollback","domain":"billing_l402"}}}}}},"/api/v1/control/route-split/evaluate":{"post":{"operationId":"controlRouteSplitEvaluate","summary":"Evaluate route-split decision for a path.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"target":"rust_shell","reason":"mode_cohort","route_domain":"chat_pilot","rollback_target":"rust_shell"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/evaluate","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"path":"/chat/thread-1","cohort_key":"user:123"}}}}}},"/api/v1/sync/token":{"post":{"operationId":"v1SyncToken","summary":"Compatibility alias for sync token issuance.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","token_type":"Bearer","expires_at":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/sync/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scopes":["runtime.codex_worker_events"],"topics":["org:openagents:worker_events"],"ttl_seconds":300,"device_id":"ios:device"}}}}}},"/openapi.json":{"get":{"operationId":"openapiDocument","summary":"Read generated OpenAPI document.","tags":["utility"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/openapi.json"}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"token"},"sessionCookie":{"type":"apiKey","in":"cookie","name":"laravel_session"},"csrfHeader":{"type":"apiKey","in":"header","name":"x-xsrf-token"}},"schemas":{"ApiDataEnvelope":{"type":"object","properties":{"data":{"type":"object","additionalProperties":true}},"required":["data"]},"ApiErrorResponse":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"required":["code","message"]},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","error"]}},"responses":{"ErrorEnvelope":{"description":"Error response envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"message":"Unauthenticated.","error":{"code":"unauthorized","message":"Unauthenticated."}}}}}}}}