{"openapi":"3.0.2","info":{"title":"OpenAgents Control API","version":"0.1.0","description":"Rust-owned control API for auth/session, policy, sync, control-plane route split, and Codex command bootstrap."},"servers":[{"url":"https://openagents.com"}],"paths":{"/api/auth/email":{"post":{"operationId":"authEmail","summary":"Request a magic-code login challenge.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"ok","challengeId":"challenge_123","email":"user@openagents.com"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/email","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"email":"user@openagents.com"}}}}}},"/api/auth/register":{"post":{"operationId":"authRegister","summary":"Bootstrap an API user + bearer token (local/testing only).","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"created":true,"tokenType":"Bearer","token":"oa_pat_123","tokenName":"staging-e2e","tokenAbilities":["*"],"user":{"id":"user_123","name":"Staging User","email":"staging-user@staging.openagents.com","handle":"staging-user"},"autopilot":{"id":"ap_123","handle":"creator-agent","displayName":"Creator Agent","status":"active","visibility":"private"}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/register","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"email":"staging-user@staging.openagents.com","name":"Staging User","tokenName":"staging-e2e","tokenAbilities":["*"],"createAutopilot":true,"autopilotDisplayName":"Creator Agent"}}}}}},"/api/auth/verify":{"post":{"operationId":"authVerify","summary":"Verify a login challenge and issue session tokens.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"authenticated","token":"oa_at_123","refreshToken":"oa_rt_123","tokenType":"Bearer"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/verify","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"code":"123456","device_id":"ios:device"}}}}}},"/api/auth/refresh":{"post":{"operationId":"authRefresh","summary":"Rotate an authenticated refresh token.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"oa_at_rotated","refreshToken":"oa_rt_rotated","tokenType":"Bearer"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/refresh","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"refresh_token":"oa_rt_123","rotate_refresh_token":true,"device_id":"ios:device"}}}}}},"/api/auth/session":{"get":{"operationId":"authSession","summary":"Read the current session bundle.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/session","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/auth/sessions":{"get":{"operationId":"authSessionList","summary":"List sessions for the authenticated user.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"sessions":[{"sessionId":"sess_123","status":"active"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/sessions","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/auth/sessions/revoke":{"post":{"operationId":"authSessionRevoke","summary":"Revoke one, device, or all sessions.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"revokedSessionIds":["sess_123"],"reason":"security_policy"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/sessions/revoke","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"revoke_all_sessions":true,"include_current":false,"reason":"security_policy"}}}}}},"/api/auth/logout":{"post":{"operationId":"authLogout","summary":"Logout the current session.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"logged_out"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/logout","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/me":{"get":{"operationId":"me","summary":"Read authenticated user profile and chat thread summaries.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"user":{"id":"usr_123","name":"OpenAgents User","email":"user@openagents.com","avatar":"","createdAt":null,"updatedAt":null},"chatThreads":[{"id":"thread-1","title":"Thread thread-1","updatedAt":"2026-02-22T00:00:00Z"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/me","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/chat/stream":{"post":{"operationId":"legacyChatStream","summary":"Compatibility stream alias for Codex chat turns.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"retired":true,"stream_protocol":"disabled","canonical":"/api/runtime/codex/workers/:worker_id/requests","bridge":{"method":"turn/start","worker_id":"desktopw:shared","request_id":"legacy_stream_req_123"},"response":{"thread_id":"thread_123","turn":{"id":"turn_456"},"ok":true}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/chat/stream","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"conversationId":"thread_123","messages":[{"id":"m1","role":"user","content":"Bridge this turn with compatibility headers."}]}}}}}},"/api/chats/{conversation_id}/stream":{"post":{"operationId":"legacyChatsConversationStream","summary":"Compatibility stream alias using conversation id path.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"retired":true,"stream_protocol":"disabled","canonical":"/api/runtime/codex/workers/:worker_id/requests","bridge":{"method":"turn/start","worker_id":"desktopw:shared","request_id":"legacy_stream_req_123"},"response":{"thread_id":"thread_123","turn":{"id":"turn_456"},"ok":true}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/chats/:conversation_id/stream","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"conversationId":"thread_123","messages":[{"id":"m1","role":"user","content":"Bridge this turn with compatibility headers."}]}}}},"parameters":[{"name":"conversation_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/autopilots":{"get":{"operationId":"autopilotsList","summary":"List autopilots owned by the authenticated user.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"autopilotsCreate","summary":"Create an autopilot for the authenticated user.","tags":["autopilot"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private"}}}}}},"/api/autopilots/{autopilot}":{"get":{"operationId":"autopilotsShow","summary":"Read one owned autopilot by id or handle.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]},"patch":{"operationId":"autopilotsUpdate","summary":"Update one owned autopilot.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":null,"configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":[],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":["openagents_api"],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"displayName":"EP212 Bot Updated","profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct"},"policy":{"toolAllowlist":["openagents_api"],"l402RequireApproval":true}}}}},"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/autopilots/{autopilot}/threads":{"get":{"operationId":"autopilotThreadsList","summary":"List threads for one owned autopilot.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"id":"thread_123","autopilotId":"ap_123","title":"Autopilot test thread","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot/threads","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"autopilotThreadsCreate","summary":"Create a thread for one owned autopilot.","tags":["autopilot"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"thread_123","autopilotId":"ap_123","title":"Autopilot test thread","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot/threads","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"title":"Autopilot test thread"}}}},"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/autopilots/{autopilot}/stream":{"post":{"operationId":"autopilotStreamBootstrap","summary":"Bootstrap autopilot turn execution and consume live updates via Khala WS.","tags":["autopilot"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"accepted":true,"autopilotId":"ap_123","autopilotConfigVersion":2,"threadId":"thread_123","conversationId":"thread_123","streamProtocol":"disabled","promptContext":"autopilot_id=ap_123\nconfig_version=2\nhandle=ep212-bot\npersona_summary=Pragmatic and concise","toolPolicy":{"policyApplied":true,"authRestricted":false,"sessionAuthenticated":true,"autopilotId":"ap_123","availableTools":["openagents_api","lightning_l402_fetch","lightning_l402_approve"],"exposedTools":["openagents_api"],"allowlist":["openagents_api","lightning_l402_fetch"],"denylist":["lightning_l402_fetch"],"removedByAllowlist":["lightning_l402_approve"],"removedByDenylist":["lightning_l402_fetch"],"removedByAuthGate":[]},"runtimeBinding":{"id":"arb_123","runtimeType":"runtime","runtimeRef":"desktopw:autopilot","isPrimary":true,"driverHint":"elixir","lastSeenAt":"2026-02-22T00:00:00Z","meta":{"region":"us-central1"},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"},"delivery":{"transport":"khala_ws","topic":"org:openagents:worker_events","scope":"runtime.codex_worker_events","syncTokenRoute":"/api/sync/token"},"control":{"method":"turn/start","workerId":"desktopw:shared","requestId":"autopilot_stream_123"},"response":{"thread_id":"thread_123","turn":{"id":"turn_456"},"message":{"id":"msg_1","thread_id":"thread_123","role":"user","text":"hello from autopilot stream alias"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/autopilots/:autopilot/stream","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"conversationId":"thread_123","messages":[{"id":"m1","role":"user","content":"hello from autopilot stream alias"}]}}}},"parameters":[{"name":"autopilot","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/tokens":{"get":{"operationId":"tokensList","summary":"List personal access tokens for the authenticated user.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"id":"pat_123","name":"api-cli","abilities":["chat:read","chat:write"],"lastUsedAt":"2026-02-22T00:00:00Z","expiresAt":"2026-03-01T00:00:00Z","createdAt":"2026-02-22T00:00:00Z","isCurrent":true}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"tokensCreate","summary":"Create a personal access token and return the plaintext token once.","tags":["auth"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"oa_pat_123","tokenableId":"user_123","name":"api-cli","abilities":["chat:read","chat:write"],"expiresAt":"2026-03-01T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"name":"api-cli","abilities":["chat:read","chat:write"],"expires_at":"2026-03-01T00:00:00Z"}}}}},"delete":{"operationId":"tokensDestroyAll","summary":"Revoke all personal access tokens for the authenticated user.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deletedCount":2}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/tokens/current":{"delete":{"operationId":"tokensDestroyCurrent","summary":"Revoke the current bearer personal access token.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deleted":true}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens/current","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/tokens/{token_id}":{"delete":{"operationId":"tokensDestroy","summary":"Revoke a specific personal access token by id.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deleted":true}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/tokens/:token_id","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"token_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/khala/token":{"post":{"operationId":"khalaToken","summary":"Issue a short-lived Khala identity token.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","token_type":"Bearer","expires_in":300,"issued_at":"2026-02-22T00:00:00Z","expires_at":"2026-02-22T00:05:00Z","issuer":"https://openagents.test","audience":"openagents-khala-test","subject":"user:user_123","claims_version":"oa_khala_claims_v1","scope":["codex:read","codex:write"],"workspace_id":"workspace_42","role":"admin","kid":"khala-auth-test-v1"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/khala/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scope":["codex:read","codex:write"],"workspace_id":"workspace_42","role":"admin"}}}}}},"/api/settings/profile":{"get":{"operationId":"settingsProfileShow","summary":"Read the authenticated user profile.","tags":["profile"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"usr_123","name":"OpenAgents User","email":"user@openagents.com","avatar":"","createdAt":null,"updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/settings/profile","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"patch":{"operationId":"settingsProfileUpdate","summary":"Update profile fields for the authenticated user.","tags":["profile"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"usr_123","name":"OpenAgents User","email":"user@openagents.com","avatar":"","createdAt":null,"updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/settings/profile","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"name":"Updated Name"}}}}},"delete":{"operationId":"settingsProfileDelete","summary":"Delete the authenticated user account.","tags":["profile"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deleted":true}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/settings/profile","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"email":"user@openagents.com"}}}}}},"/settings/autopilot":{"patch":{"operationId":"settingsAutopilotUpdate","summary":"Update autopilot profile settings for the authenticated user.","tags":["profile"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"autopilot-updated","autopilot":{"id":"ap_123","handle":"ep212-bot","displayName":"EP212 Bot","status":"active","visibility":"private","ownerUserId":"usr_123","avatar":null,"tagline":"Persistent and practical","configVersion":2,"profile":{"ownerDisplayName":"Chris","personaSummary":"Pragmatic and concise","autopilotVoice":"calm and direct","principles":["Prefer verification over guessing","Ask before irreversible actions"],"preferences":[],"onboardingAnswers":[],"schemaVersion":1},"policy":{"modelProvider":null,"model":null,"toolAllowlist":[],"toolDenylist":[],"l402RequireApproval":true,"l402MaxSpendMsatsPerCall":null,"l402MaxSpendMsatsPerDay":null,"l402AllowedHosts":[],"dataPolicy":[]},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/settings/autopilot","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"displayName":"Chris Autopilot","tagline":"Persistent and practical","ownerDisplayName":"Chris","personaSummary":"Keep it concise and engineering-minded.","autopilotVoice":"calm and direct","principlesText":"Prefer verification over guessing\nAsk before irreversible actions"}}}}}},"/settings/integrations/resend":{"post":{"operationId":"settingsIntegrationsResendUpsert","summary":"Create or rotate Resend integration secret material.","tags":["integrations"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"resend-connected","action":"secret_created","integration":{"provider":"resend","status":"active","connected":true,"secretLast4":"7890","connectedAt":"2026-02-22T00:00:00Z","disconnectedAt":null,"metadata":{"sender_email":"bot@openagents.com","sender_name":"OpenAgents Bot"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/settings/integrations/resend","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"resend_api_key":"re_live_1234567890","sender_email":"bot@openagents.com","sender_name":"OpenAgents Bot"}}}}},"delete":{"operationId":"settingsIntegrationsResendDisconnect","summary":"Disconnect and revoke Resend integration secret material.","tags":["integrations"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"resend-connected","action":"secret_created","integration":{"provider":"resend","status":"active","connected":true,"secretLast4":"7890","connectedAt":"2026-02-22T00:00:00Z","disconnectedAt":null,"metadata":{"sender_email":"bot@openagents.com","sender_name":"OpenAgents Bot"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/settings/integrations/resend","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/settings/integrations/resend/test":{"post":{"operationId":"settingsIntegrationsResendTest","summary":"Record a Resend integration test request audit event.","tags":["integrations"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"resend-connected","action":"secret_created","integration":{"provider":"resend","status":"active","connected":true,"secretLast4":"7890","connectedAt":"2026-02-22T00:00:00Z","disconnectedAt":null,"metadata":{"sender_email":"bot@openagents.com","sender_name":"OpenAgents Bot"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/settings/integrations/resend/test","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/settings/integrations/google/redirect":{"get":{"operationId":"settingsIntegrationsGoogleRedirect","summary":"Start Google OAuth authorization redirect.","tags":["integrations"],"responses":{"302":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/settings/integrations/google/redirect","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/settings/integrations/google/callback":{"get":{"operationId":"settingsIntegrationsGoogleCallback","summary":"Handle Google OAuth callback and persist integration credentials.","tags":["integrations"],"responses":{"302":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/settings/integrations/google/callback","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/settings/integrations/google":{"delete":{"operationId":"settingsIntegrationsGoogleDisconnect","summary":"Disconnect and revoke Google integration credentials.","tags":["integrations"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"resend-connected","action":"secret_created","integration":{"provider":"resend","status":"active","connected":true,"secretLast4":"7890","connectedAt":"2026-02-22T00:00:00Z","disconnectedAt":null,"metadata":{"sender_email":"bot@openagents.com","sender_name":"OpenAgents Bot"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/settings/integrations/google","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/orgs/memberships":{"get":{"operationId":"orgMemberships","summary":"List organization memberships.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"memberships":[{"org_id":"org:openagents","role":"admin"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/orgs/memberships","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/orgs/active":{"post":{"operationId":"setActiveOrg","summary":"Set active organization for the current session.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/orgs/active","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"org_id":"org:openagents"}}}}}},"/api/policy/authorize":{"post":{"operationId":"policyAuthorize","summary":"Evaluate requested scopes/topics for an authenticated principal.","tags":["policy"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"allowed":true,"resolved_org_id":"org:openagents","granted_scopes":["runtime.read"],"denied_reasons":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/policy/authorize","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"org_id":"org:openagents","required_scopes":["runtime.read"],"requested_topics":["org:openagents:worker_events"]}}}}}},"/api/agent-payments/wallet":{"get":{"operationId":"agentPaymentsWallet","summary":"Read authenticated user's Spark wallet metadata.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"wallet":{"id":"wallet_123","walletId":"wallet_123","sparkAddress":"usr_123@spark.openagents.local","lightningAddress":"usr_123@openagents.local","identityPubkey":"pubkey_123","balanceSats":4200,"status":"active","provider":"spark_executor","lastError":null,"lastSyncedAt":"2026-02-22T00:00:00Z","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agent-payments/wallet","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"agentPaymentsWalletUpsert","summary":"Create/import wallet for authenticated user.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"wallet":{"id":"wallet_123","walletId":"wallet_123","sparkAddress":"usr_123@spark.openagents.local","lightningAddress":"usr_123@openagents.local","identityPubkey":"pubkey_123","balanceSats":0,"status":"active","provider":"spark_executor","lastError":null,"lastSyncedAt":"2026-02-22T00:00:00Z","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"},"action":"ensured"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agent-payments/wallet","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"mnemonic":"abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"}}}}}},"/api/agent-payments/balance":{"get":{"operationId":"agentPaymentsBalance","summary":"Read authenticated wallet balance snapshot.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"walletId":"wallet_123","balanceSats":4200,"sparkAddress":"usr_123@spark.openagents.local","lightningAddress":"usr_123@openagents.local","lastSyncedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agent-payments/balance","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/agent-payments/invoice":{"post":{"operationId":"agentPaymentsInvoiceCreate","summary":"Create Lightning invoice from authenticated wallet.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"invoice":{"paymentRequest":"lnbc42n1psampleinvoice","amountSats":42,"description":"OpenAgents test invoice","expiresAt":"2026-02-22T00:15:00Z","raw":{"paymentRequest":"lnbc42n1psampleinvoice","amountSats":42}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agent-payments/invoice","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"amountSats":42,"description":"OpenAgents test invoice"}}}}}},"/api/agent-payments/pay":{"post":{"operationId":"agentPaymentsInvoicePay","summary":"Pay a BOLT11 invoice from authenticated wallet.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"payment":{"paymentId":"payment_123","preimage":"abc123","proofReference":"preimage:abc123","quotedAmountMsats":42000,"maxAmountMsats":42000,"status":"completed","raw":{"paymentId":"payment_123","status":"completed"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agent-payments/pay","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"invoice":"lnbc42n1p0openagentssampleinvoice00000000000000","maxAmountSats":42,"timeoutMs":12000,"host":"sats4ai.com"}}}}}},"/api/agent-payments/send-spark":{"post":{"operationId":"agentPaymentsSendSpark","summary":"Send sats to Spark address from authenticated wallet.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"transfer":{"sparkAddress":"spark:recipient","amountSats":21,"status":"completed","paymentId":"spark_123","raw":{"sparkAddress":"spark:recipient","amountSats":21}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agent-payments/send-spark","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"sparkAddress":"spark:recipient","amountSats":21,"timeoutMs":12000}}}}}},"/api/agents/me/wallet":{"get":{"operationId":"agentsMeWallet","summary":"Compatibility alias for agent-payments wallet read.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"wallet":{"id":"wallet_123","walletId":"wallet_123","sparkAddress":"usr_123@spark.openagents.local","lightningAddress":"usr_123@openagents.local","identityPubkey":"pubkey_123","balanceSats":4200,"status":"active","provider":"spark_executor","lastError":null,"lastSyncedAt":"2026-02-22T00:00:00Z","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agents/me/wallet","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."},"post":{"operationId":"agentsMeWalletUpsert","summary":"Compatibility alias for agent-payments wallet upsert.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"wallet":{"id":"wallet_123","walletId":"wallet_123","sparkAddress":"usr_123@spark.openagents.local","lightningAddress":"usr_123@openagents.local","identityPubkey":"pubkey_123","balanceSats":0,"status":"active","provider":"spark_executor","lastError":null,"lastSyncedAt":"2026-02-22T00:00:00Z","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"},"action":"ensured"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agents/me/wallet","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"mnemonic":"abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"}}}}}},"/api/agents/me/balance":{"get":{"operationId":"agentsMeBalance","summary":"Compatibility alias for agent-payments balance read.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"walletId":"wallet_123","balanceSats":4200,"sparkAddress":"usr_123@spark.openagents.local","lightningAddress":"usr_123@openagents.local","lastSyncedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/agents/me/balance","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."}},"/api/payments/invoice":{"post":{"operationId":"paymentsInvoiceCreateAlias","summary":"Compatibility alias for agent-payments invoice create.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"invoice":{"paymentRequest":"lnbc42n1psampleinvoice","amountSats":42,"description":"OpenAgents test invoice","expiresAt":"2026-02-22T00:15:00Z","raw":{"paymentRequest":"lnbc42n1psampleinvoice","amountSats":42}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/payments/invoice","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"amountSats":42,"description":"OpenAgents test invoice"}}}}}},"/api/payments/pay":{"post":{"operationId":"paymentsInvoicePayAlias","summary":"Compatibility alias for agent-payments invoice pay.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"payment":{"paymentId":"payment_123","preimage":"abc123","proofReference":"preimage:abc123","quotedAmountMsats":42000,"maxAmountMsats":42000,"status":"completed","raw":{"paymentId":"payment_123","status":"completed"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/payments/pay","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"invoice":"lnbc42n1p0openagentssampleinvoice00000000000000","maxAmountSats":42,"timeoutMs":12000,"host":"sats4ai.com"}}}}}},"/api/payments/send-spark":{"post":{"operationId":"paymentsSendSparkAlias","summary":"Compatibility alias for agent-payments spark transfer.","tags":["payments"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"transfer":{"sparkAddress":"spark:recipient","amountSats":21,"status":"completed","paymentId":"spark_123","raw":{"sparkAddress":"spark:recipient","amountSats":21}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/payments/send-spark","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"sparkAddress":"spark:recipient","amountSats":21,"timeoutMs":12000}}}}}},"/api/shouts":{"get":{"operationId":"shoutsIndex","summary":"List public shouts with optional zone/cursor/date filters.","tags":["social"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"id":42,"zone":"l402","body":"L402 payment shipped","visibility":"public","author":{"id":"usr_123","name":"OpenAgents User","handle":"openagents-user","avatar":null},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}],"meta":{"nextCursor":"42"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/shouts"},"post":{"operationId":"shoutsStore","summary":"Create a public shout (authenticated).","tags":["social"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":42,"zone":"l402","body":"L402 payment shipped","visibility":"public","author":{"id":"usr_123","name":"OpenAgents User","handle":"openagents-user","avatar":null},"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/shouts","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"body":"L402 payment shipped","zone":"l402"}}}}}},"/api/shouts/zones":{"get":{"operationId":"shoutsZones","summary":"List top shout zones by 24h activity.","tags":["social"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"zone":"global","count24h":12},{"zone":"l402","count24h":4}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/shouts/zones"}},"/api/webhooks/resend":{"post":{"operationId":"webhooksResendStore","summary":"Ingest and verify Resend delivery webhooks with idempotency protection.","tags":["integrations"],"responses":{"202":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"event_id":42,"status":"received","idempotent_replay":false}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/webhooks/resend","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"type":"email.delivered","created_at":"2026-02-22T00:00:00Z","data":{"email_id":"email_123","to":["user@example.com"],"tags":[{"name":"integration_id","value":"resend.primary"},{"name":"user_id","value":"usr_123"}]}}}}}}},"/api/whispers":{"get":{"operationId":"whispersIndex","summary":"List whispers for the authenticated actor with optional peer/cursor filters.","tags":["social"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"id":42,"body":"hey","sender":{"id":"usr_sender","name":"OpenAgents Sender","handle":"openagents-sender","avatar":null},"recipient":{"id":"usr_recipient","name":"OpenAgents Recipient","handle":"openagents-recipient","avatar":null},"readAt":null,"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}],"meta":{"nextCursor":"42","with":"openagents-recipient"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/whispers","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"whispersStore","summary":"Send a whisper to a recipient by id or handle.","tags":["social"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":42,"body":"hey","sender":{"id":"usr_sender","name":"OpenAgents Sender","handle":"openagents-sender","avatar":null},"recipient":{"id":"usr_recipient","name":"OpenAgents Recipient","handle":"openagents-recipient","avatar":null},"readAt":null,"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/whispers","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"recipientHandle":"openagents-user","body":"hey"}}}}}},"/api/whispers/{id}/read":{"patch":{"operationId":"whispersRead","summary":"Mark a whisper as read for the authenticated recipient.","tags":["social"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":42,"body":"hey","sender":{"id":"usr_sender","name":"OpenAgents Sender","handle":"openagents-sender","avatar":null},"recipient":{"id":"usr_recipient","name":"OpenAgents Recipient","handle":"openagents-recipient","avatar":null},"readAt":null,"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/whispers/:id/read","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/l402/wallet":{"get":{"operationId":"l402Wallet","summary":"Read L402 wallet summary, recent receipts, and spark wallet status.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"summary":{"totalAttempts":3,"paidCount":1,"cachedCount":1,"blockedCount":1,"failedCount":0,"totalPaidMsats":2100,"totalPaidSats":2.1},"lastPaid":{"eventId":14,"threadId":"thread_1","runId":"run_1","status":"paid","host":"sats4ai.com","paid":true,"amountMsats":2100,"amountSats":2.1},"recent":[],"sparkWallet":{"walletId":"wallet_123","sparkAddress":"spark:abc","lightningAddress":"ln@openagents.com","identityPubkey":"pubkey_1","balanceSats":4200,"status":"active","provider":"spark_executor","lastError":null,"lastSyncedAt":"2026-02-22T00:00:00Z"},"settings":{"enforceHostAllowlist":false,"allowlistHosts":["sats4ai.com","l402.openagents.com"],"invoicePayer":"spark_wallet","credentialTtlSeconds":600,"paymentTimeoutMs":12000,"responseMaxBytes":65536,"responsePreviewBytes":1024},"filter":{"autopilot":{"id":"ap_123","handle":"payments-bot"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/wallet","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/l402/transactions":{"get":{"operationId":"l402Transactions","summary":"List L402 transaction receipts with pagination.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"transactions":[{"eventId":14,"threadId":"thread_1","threadTitle":"Conversation 1","runId":"run_1","runStatus":"completed","createdAt":"2026-02-22T00:00:00Z","status":"paid","host":"sats4ai.com","scope":"fetch","paid":true,"cacheHit":false,"cacheStatus":null,"amountMsats":2100,"amountSats":2.1}],"pagination":{"currentPage":1,"lastPage":1,"perPage":30,"total":1,"hasMorePages":false},"filter":{"autopilot":{"id":"ap_123","handle":"payments-bot"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/transactions","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/l402/transactions/{eventId}":{"get":{"operationId":"l402TransactionShow","summary":"Read one L402 transaction receipt by event id.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"transaction":{"eventId":14,"threadId":"thread_1","threadTitle":"Conversation 1","runId":"run_1","runStatus":"completed","createdAt":"2026-02-22T00:00:00Z","status":"paid","host":"sats4ai.com","scope":"fetch","paid":true,"cacheHit":false,"cacheStatus":null,"amountMsats":2100,"amountSats":2.1}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/transactions/:eventId","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/l402/paywalls":{"get":{"operationId":"l402Paywalls","summary":"Read paywall aggregates grouped by host/scope.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"paywalls":[{"host":"sats4ai.com","scope":"fetch","attempts":2,"paid":1,"cached":1,"blocked":0,"failed":0,"totalPaidMsats":2100,"totalPaidSats":2.1,"lastAttemptAt":"2026-02-22T00:00:00Z","lastStatus":"cached"}],"summary":{"uniqueTargets":1,"totalAttempts":2,"totalPaidCount":1},"filter":{"autopilot":null}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/paywalls","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"l402PaywallCreate","summary":"Create an L402 paywall rule (admin-only).","tags":["l402"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"paywall":{"id":"pw_123","ownerUserId":"usr_123","name":"Default","hostRegexp":"sats4ai\\.com","pathRegexp":"^/api/.*","priceMsats":1000,"upstream":"https://upstream.openagents.com","enabled":true,"metadata":{"tier":"default"},"lastReconcileStatus":null,"lastReconcileError":null,"lastReconciledAt":null,"createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:00:00Z","deletedAt":null},"deployment":{"status":"applied","eventType":"l402_paywall_created","eventId":101,"reverted":false},"mutationEventId":101}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/paywalls","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"name":"Default","hostRegexp":"sats4ai\\.com","pathRegexp":"^/api/.*","priceMsats":1000,"upstream":"https://upstream.openagents.com","enabled":true,"metadata":{"tier":"default"}}}}}}},"/api/l402/paywalls/{paywallId}":{"patch":{"operationId":"l402PaywallUpdate","summary":"Update an L402 paywall rule (admin-only).","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"paywall":{"id":"pw_123","ownerUserId":"usr_123","name":"Default","hostRegexp":"sats4ai\\.com","pathRegexp":"^/api/.*","priceMsats":2500,"upstream":"https://upstream.openagents.com","enabled":false,"metadata":{"tier":"burst"},"lastReconcileStatus":"applied","lastReconcileError":null,"lastReconciledAt":"2026-02-22T00:00:00Z","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:05:00Z","deletedAt":null},"deployment":{"status":"applied","eventType":"l402_paywall_updated","eventId":102,"reverted":false},"mutationEventId":102}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/paywalls/:paywallId","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"priceMsats":2500,"enabled":false,"metadata":{"tier":"burst"}}}}},"parameters":[{"name":"paywallId","in":"path","required":true,"schema":{"type":"string"}}]},"delete":{"operationId":"l402PaywallDelete","summary":"Soft-delete an L402 paywall rule (admin-only).","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deleted":true,"paywall":{"id":"pw_123","ownerUserId":"usr_123","name":"Default","hostRegexp":"sats4ai\\.com","pathRegexp":"^/api/.*","priceMsats":2500,"upstream":"https://upstream.openagents.com","enabled":false,"metadata":{"tier":"burst"},"lastReconcileStatus":"applied","lastReconcileError":null,"lastReconciledAt":"2026-02-22T00:05:00Z","createdAt":"2026-02-22T00:00:00Z","updatedAt":"2026-02-22T00:10:00Z","deletedAt":"2026-02-22T00:10:00Z"},"deployment":{"status":"applied","eventType":"l402_paywall_deleted","eventId":103,"reverted":false},"mutationEventId":103}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/paywalls/:paywallId","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"paywallId","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/l402/settlements":{"get":{"operationId":"l402Settlements","summary":"Read paid settlement summaries and recent paid receipts.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"summary":{"settledCount":1,"totalMsats":2100,"totalSats":2.1,"latestSettlementAt":"2026-02-22T00:00:00Z"},"daily":[{"date":"2026-02-22","count":1,"totalMsats":2100,"totalSats":2.1}],"settlements":[],"filter":{"autopilot":null}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/settlements","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/l402/deployments":{"get":{"operationId":"l402Deployments","summary":"Read L402 gateway/deployment operational events.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"deployments":[{"eventId":91,"type":"l402_gateway_event","createdAt":"2026-02-22T00:00:00Z","payload":{"status":"ok"}}],"configSnapshot":{"enforceHostAllowlist":false,"allowlistHosts":["sats4ai.com","l402.openagents.com"],"invoicePayer":"spark_wallet","credentialTtlSeconds":600,"paymentTimeoutMs":12000,"demoPresets":["sats4ai","ep212_openagents_premium","ep212_openagents_expensive","fake"]},"filter":{"autopilot":null}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/l402/deployments","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/sync/token":{"post":{"operationId":"syncToken","summary":"Issue a Khala WebSocket sync token.","tags":["sync"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","token_type":"Bearer","expires_at":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/sync/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scopes":["runtime.codex_worker_events"],"topics":["org:openagents:worker_events"],"ttl_seconds":300,"device_id":"ios:device"}}}}}},"/api/internal/runtime/integrations/secrets/fetch":{"post":{"operationId":"runtimeInternalSecretFetch","summary":"Fetch active integration credentials via signed runtime-internal headers.","tags":["runtime"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"provider":"resend","secret":"re_live_1234567890","cache_ttl_ms":60000,"scope":{"user_id":42,"provider":"resend","integration_id":"resend.primary","run_id":"run_123","tool_call_id":"tool_123","org_id":"org_abc"},"fetched_at":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/internal/runtime/integrations/secrets/fetch","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"user_id":42,"provider":"resend","integration_id":"resend.primary","run_id":"run_123","tool_call_id":"tool_123","org_id":"org_abc"}}}}}},"/api/internal/lightning-ops/control-plane/query":{"post":{"operationId":"lightningOpsControlPlaneQuery","summary":"Dispatch lightning ops query functions guarded by shared ops secret.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"ok":true,"paywalls":[{"paywallId":"pw_123","ownerId":"owner_usr_123","name":"Default","status":"active","createdAtMs":1700000000000,"updatedAtMs":1700000000000,"policy":{"paywallId":"pw_123","ownerId":"owner_usr_123","pricingMode":"fixed","fixedAmountMsats":1000,"killSwitch":false,"createdAtMs":1700000000000,"updatedAtMs":1700000000000},"routes":[{"routeId":"route_pw_123","paywallId":"pw_123","ownerId":"owner_usr_123","hostPattern":"sats4ai\\.com","pathPattern":"^/api/.*","upstreamUrl":"https://upstream.openagents.com","protocol":"https","timeoutMs":6000,"priority":10,"createdAtMs":1700000000000,"updatedAtMs":1700000000000}]}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/internal/lightning-ops/control-plane/query","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"functionName":"lightning/ops:listPaywallControlPlaneState","args":{"secret":"ops-secret","statuses":["active","paused"]}}}}}}},"/api/internal/lightning-ops/control-plane/mutation":{"post":{"operationId":"lightningOpsControlPlaneMutation","summary":"Dispatch lightning ops mutation functions guarded by shared ops secret.","tags":["l402"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"ok":true,"global":{"stateId":"global","globalPause":true,"denyReasonCode":"global_pause_active","denyReason":"Emergency pause","updatedBy":"ops@openagents.com","updatedAtMs":1700000000000}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/internal/lightning-ops/control-plane/mutation","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"functionName":"lightning/security:setGlobalPause","args":{"secret":"ops-secret","active":true,"reason":"Emergency pause","updatedBy":"ops@openagents.com"}}}}}}},"/api/runtime/tools/execute":{"post":{"operationId":"runtimeToolsExecute","summary":"Execute typed runtime tool-pack operations with policy/replay receipts.","tags":["runtime"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"state":"succeeded","decision":"allowed","reason_code":"policy_allowed.default","tool_pack":"coding.v1","mode":"replay","idempotentReplay":false,"receipt":{"receipt_id":"coding_8b5f2caa1122334455667788","replay_hash":"sha256:8b5f2caa11223344556677889900aabbccddeeff00112233445566778899aabb"},"policy":{"writeApproved":false,"writeOperationsMode":"enforce","maxPerCallSats":100,"operationCostSats":5},"request":{"integration_id":"github.primary","operation":"get_issue","repository":"OpenAgentsInc/openagents","issue_number":1747,"pull_number":null,"tool_call_id":"tool_call_001","run_id":"run_tools_1","thread_id":"thread_tools_1","user_id":42},"result":{"integration_id":"github.primary","operation":"get_issue","repository":"OpenAgentsInc/openagents","issue_number":1747,"issue":{"number":1747,"title":"Issue #1747","url":"https://github.com/OpenAgentsInc/openagents/issues/1747"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/tools/execute","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"tool_pack":"coding.v1","mode":"replay","run_id":"run_tools_1","thread_id":"thread_tools_1","manifest_ref":{"integration_id":"github.primary"},"request":{"integration_id":"github.primary","operation":"get_issue","repository":"OpenAgentsInc/openagents","issue_number":1747,"tool_call_id":"tool_call_001"},"policy":{"authorization_id":"auth_123","authorization_mode":"delegated_budget","budget":{"max_per_call_sats":100}}}}}}}},"/api/runtime/skills/tool-specs":{"get":{"operationId":"runtimeSkillToolSpecsList","summary":"List runtime tool specs (registry + built-ins).","tags":["runtime"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"tool_id":"github.primary","version":1,"tool_pack":"coding.v1","state":"published"}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/skills/tool-specs","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"runtimeSkillToolSpecsStore","summary":"Upsert a runtime tool spec with schema/version validation.","tags":["runtime"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"tool_id":"github.custom","version":1,"tool_pack":"coding.v1","state":"validated"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/skills/tool-specs","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"state":"validated","tool_spec":{"tool_id":"github.custom","version":1,"tool_pack":"coding.v1","name":"GitHub Custom","execution_kind":"http","integration_manifest":{"manifest_version":"coding.integration.v1","integration_id":"github.custom","provider":"github","status":"active","tool_pack":"coding.v1","capabilities":["get_issue","get_pull_request"]}}}}}}}},"/api/runtime/skills/skill-specs":{"get":{"operationId":"runtimeSkillSpecsList","summary":"List runtime skill specs (registry + built-ins).","tags":["runtime"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"skill_id":"github-coding","version":1,"state":"published"}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/skills/skill-specs","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"runtimeSkillSpecsStore","summary":"Upsert a runtime skill spec with schema/version validation.","tags":["runtime"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"skill_id":"github-coding-custom","version":1,"state":"validated"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/skills/skill-specs","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"state":"validated","skill_spec":{"skill_id":"github-coding-custom","version":1,"name":"GitHub Coding Custom","allowed_tools":[{"tool_id":"github.custom","version":1}],"compatibility":{"runtime":"runtime"}}}}}}}},"/api/runtime/skills/skill-specs/{skill_id}/{version}/publish":{"post":{"operationId":"runtimeSkillSpecPublish","summary":"Publish a skill spec release bundle.","tags":["runtime"],"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"release_id":"skillrel_abc123","skill_id":"github-coding-custom","version":1,"bundle_hash":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa","published_at":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/skills/skill-specs/:skill_id/:version/publish","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"skill_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/skills/releases/{skill_id}/{version}":{"get":{"operationId":"runtimeSkillReleaseShow","summary":"Fetch a published runtime skill release bundle.","tags":["runtime"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"release_id":"skillrel_abc123","skill_id":"github-coding-custom","version":1,"bundle_hash":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa","published_at":"2026-02-22T00:00:00Z","bundle":{"bundle_format":"agent_skills.v1","skill_spec":{"skill_id":"github-coding-custom","version":1}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/skills/releases/:skill_id/:version","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"skill_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/codex/workers":{"get":{"operationId":"runtimeCodexWorkersList","summary":"List principal-owned Codex workers with lifecycle metadata.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":[{"worker_id":"codexw_12345","status":"running","latest_seq":12,"workspace_ref":"workspace://demo","heartbeat_state":"fresh","heartbeat_age_ms":843,"heartbeat_stale_after_ms":120000,"khala_projection":{"status":"in_sync","lag_events":0,"last_runtime_seq":12,"last_projected_at":"2026-02-22T00:00:00Z"}}]}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]},"post":{"operationId":"runtimeCodexWorkersCreate","summary":"Create or reattach a Codex worker session.","tags":["codex"],"responses":{"202":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"workerId":"codexw_12345","status":"running","latestSeq":0,"idempotentReplay":false}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"worker_id":"codexw_12345","workspace_ref":"workspace://demo","codex_home_ref":"codex-home://demo","adapter":"in_memory","metadata":{"surface":"web"}}}}}}},"/api/runtime/codex/workers/{worker_id}":{"get":{"operationId":"runtimeCodexWorkerShow","summary":"Read one principal-owned Codex worker snapshot.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"worker_id":"codexw_12345","status":"running","latest_seq":12,"heartbeat_state":"fresh","heartbeat_age_ms":843,"heartbeat_stale_after_ms":120000}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers/:worker_id","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"worker_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/codex/workers/{worker_id}/stream":{"get":{"operationId":"runtimeCodexWorkerStreamBootstrap","summary":"Bootstrap Codex worker live delivery via Khala WebSocket.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"worker_id":"codexw_12345","stream_protocol":"khala_ws","cursor":0,"tail_ms":15000,"delivery":{"transport":"khala_ws","topic":"org:openagents:worker_events","scope":"runtime.codex_worker_events","syncTokenRoute":"/api/sync/token"},"events":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers/:worker_id/stream","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"worker_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/codex/workers/{worker_id}/events":{"post":{"operationId":"runtimeCodexWorkerEventsIngest","summary":"Ingest desktop-originated worker events into durable log.","tags":["codex"],"responses":{"202":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"worker_id":"codexw_12345","seq":13,"event_type":"worker.event","payload":{"method":"turn/started"},"occurred_at":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers/:worker_id/events","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"event":{"event_type":"worker.event","payload":{"source":"autopilot-ios","method":"ios/handshake","handshake_id":"hs_123","device_id":"device_abc","occurred_at":"2026-02-22T00:00:00Z"}}}}}},"parameters":[{"name":"worker_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/codex/workers/{worker_id}/stop":{"post":{"operationId":"runtimeCodexWorkerStop","summary":"Request graceful worker stop and durable terminal state.","tags":["codex"],"responses":{"202":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"worker_id":"codexw_12345","status":"stopped","seq":14,"idempotent_replay":false}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers/:worker_id/stop","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"reason":"done"}}}},"parameters":[{"name":"worker_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/threads":{"get":{"operationId":"runtimeThreadsList","summary":"List Codex thread projections for the current user.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"threads":[{"thread_id":"thread-1","message_count":3}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/threads","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/runtime/threads/{thread_id}/messages":{"get":{"operationId":"runtimeThreadMessagesList","summary":"List projected messages for a Codex thread.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"thread_id":"thread-1","messages":[{"message_id":"msg_1","role":"user","text":"hello"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/threads/:thread_id/messages","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"parameters":[{"name":"thread_id","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"operationId":"runtimeThreadMessage","summary":"Submit a Codex thread message command.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"accepted","thread_id":"thread-1"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/threads/:thread_id/messages","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"text":"Summarize this thread."}}}},"parameters":[{"name":"thread_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/runtime/codex/workers/{worker_id}/requests":{"post":{"operationId":"runtimeCodexWorkerRequest","summary":"Dispatch an allowlisted Codex worker control request.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"worker_id":"desktopw:shared","request_id":"req_turn_1","ok":true,"method":"turn/start","idempotent_replay":false,"response":{"thread_id":"thread_123","turn":{"id":"turn_456"}}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/codex/workers/:worker_id/requests","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"request":{"request_id":"req_turn_1","method":"turn/start","params":{"thread_id":"thread_123","text":"Continue from last checkpoint."},"request_version":"v1","source":"openagents-web-shell"}}}}},"parameters":[{"name":"worker_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/auth/session":{"get":{"operationId":"v1AuthSession","summary":"Compatibility alias for auth session.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/session","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."}},"/api/v1/auth/sessions":{"get":{"operationId":"v1AuthSessions","summary":"Compatibility alias for auth session list.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"sessions":[{"sessionId":"sess_123","status":"active"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/sessions","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."}},"/api/v1/auth/sessions/revoke":{"post":{"operationId":"v1AuthSessionsRevoke","summary":"Compatibility alias for session revocation.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"revokedSessionIds":["sess_123"],"reason":"security_policy"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/sessions/revoke","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"revoke_all_sessions":true,"include_current":false,"reason":"security_policy"}}}}}},"/api/v1/control/status":{"get":{"operationId":"controlStatus","summary":"Read runtime control status.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"service":"openagents-control-service","authProvider":"mock","activeOrgId":"org:openagents","compatibility":{"protocolVersion":"openagents.control.v1","minClientBuildId":"00000000T000000Z","maxClientBuildId":null,"minSchemaVersion":1,"maxSchemaVersion":1},"routeSplit":{"mode":"cohort","override_target":null},"runtimeRouting":{"default_driver":"legacy","forced_driver":null,"force_legacy":false}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/status","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/v1/control/route-split/status":{"get":{"operationId":"controlRouteSplitStatus","summary":"Read route-split control status.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"mode":"cohort","override_target":null,"rollback_matrix":{"auth_entry":"legacy","billing_l402":"legacy","chat_pilot":"rust_shell"},"route_groups":[{"domain":"billing_l402","route_prefixes":["/billing","/l402"],"rollback_target":"legacy","override_target":null}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/status","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/v1/control/route-split/override":{"post":{"operationId":"controlRouteSplitOverride","summary":"Set route-split override target.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"mode":"cohort","override_target":null,"rollback_matrix":{"auth_entry":"legacy","billing_l402":"legacy","chat_pilot":"rust_shell"},"route_groups":[{"domain":"billing_l402","route_prefixes":["/billing","/l402"],"rollback_target":"legacy","override_target":null}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/override","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"target":"rollback","domain":"billing_l402"}}}}}},"/api/v1/control/route-split/evaluate":{"post":{"operationId":"controlRouteSplitEvaluate","summary":"Evaluate route-split decision for a path.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"target":"rust_shell","reason":"mode_cohort","route_domain":"chat_pilot","rollback_target":"rust_shell"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/evaluate","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"path":"/chat/thread-1","cohort_key":"user:123"}}}}}},"/api/v1/control/runtime-routing/status":{"get":{"operationId":"controlRuntimeRoutingStatus","summary":"Read runtime routing status and override records.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"default_driver":"legacy","forced_driver":null,"force_legacy":false,"overrides_enabled":true,"canary_user_percent":0,"canary_autopilot_percent":0,"shadow":{"enabled":false,"sample_rate":1.0,"max_capture_bytes":200000},"overrides":[{"scope_type":"user","scope_id":"usr_123","driver":"elixir","is_active":true}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/runtime-routing/status","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/v1/control/runtime-routing/override":{"post":{"operationId":"controlRuntimeRoutingOverride","summary":"Upsert runtime driver override record.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"override":{"scope_type":"user","scope_id":"usr_123","driver":"elixir","is_active":true},"status":{"default_driver":"legacy","forced_driver":null,"force_legacy":false}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/runtime-routing/override","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scope_type":"user","scope_id":"usr_123","driver":"elixir","is_active":true,"reason":"canary cohort"}}}}}},"/api/v1/control/runtime-routing/evaluate":{"post":{"operationId":"controlRuntimeRoutingEvaluate","summary":"Evaluate runtime driver decision for a user/thread.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"driver":"elixir","reason":"user_override","default_driver":"legacy","shadow":{"enabled":false,"mirrored":false,"sample_rate":1.0,"shadow_driver":null}}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/runtime-routing/evaluate","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"thread_id":"thread_123","user_id":"usr_123"}}}}}},"/api/v1/sync/token":{"post":{"operationId":"v1SyncToken","summary":"Compatibility alias for sync token issuance.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","token_type":"Bearer","expires_at":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/sync/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scopes":["runtime.codex_worker_events"],"topics":["org:openagents:worker_events"],"ttl_seconds":300,"device_id":"ios:device"}}}}}},"/api/smoke/stream":{"get":{"operationId":"smokeStream","summary":"Return Khala WS smoke stream contract metadata (no SSE transport).","tags":["utility"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/smoke/stream"}},"/openapi.json":{"get":{"operationId":"openapiDocument","summary":"Read generated OpenAPI document.","tags":["utility"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/openapi.json"}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"token"},"sessionCookie":{"type":"apiKey","in":"cookie","name":"laravel_session"},"csrfHeader":{"type":"apiKey","in":"header","name":"x-xsrf-token"}},"schemas":{"ApiDataEnvelope":{"type":"object","properties":{"data":{"type":"object","additionalProperties":true}},"required":["data"]},"ApiErrorResponse":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"required":["code","message"]},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","error"]}},"responses":{"ErrorEnvelope":{"description":"Error response envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"message":"Unauthenticated.","error":{"code":"unauthorized","message":"Unauthenticated."}}}}}}}}