{"openapi":"3.0.2","info":{"title":"OpenAgents Control API","version":"0.1.0","description":"Rust-owned control API for auth/session, policy, sync, control-plane route split, and Codex command bootstrap."},"servers":[{"url":"https://openagents.com"}],"paths":{"/api/auth/email":{"post":{"operationId":"authEmail","summary":"Request a magic-code login challenge.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"ok","challengeId":"challenge_123","email":"user@openagents.com"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/email","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"email":"user@openagents.com"}}}}}},"/api/auth/verify":{"post":{"operationId":"authVerify","summary":"Verify a login challenge and issue session tokens.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"authenticated","token":"oa_at_123","refreshToken":"oa_rt_123","tokenType":"Bearer"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/verify","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"code":"123456","device_id":"ios:device"}}}}}},"/api/auth/refresh":{"post":{"operationId":"authRefresh","summary":"Rotate an authenticated refresh token.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"oa_at_rotated","refreshToken":"oa_rt_rotated","tokenType":"Bearer"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/refresh","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"refresh_token":"oa_rt_123","rotate_refresh_token":true,"device_id":"ios:device"}}}}}},"/api/auth/session":{"get":{"operationId":"authSession","summary":"Read the current session bundle.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/session","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/auth/sessions":{"get":{"operationId":"authSessionList","summary":"List sessions for the authenticated user.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"sessions":[{"sessionId":"sess_123","status":"active"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/sessions","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/auth/sessions/revoke":{"post":{"operationId":"authSessionRevoke","summary":"Revoke one, device, or all sessions.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"revokedSessionIds":["sess_123"],"reason":"security_policy"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/sessions/revoke","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"revoke_all_sessions":true,"include_current":false,"reason":"security_policy"}}}}}},"/api/auth/logout":{"post":{"operationId":"authLogout","summary":"Logout the current session.","tags":["auth"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"logged_out"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/auth/logout","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/me":{"get":{"operationId":"me","summary":"Read authenticated user profile and memberships.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"id":"usr_123","email":"user@openagents.com","memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/me","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/orgs/memberships":{"get":{"operationId":"orgMemberships","summary":"List organization memberships.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"memberships":[{"org_id":"org:openagents","role":"admin"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/orgs/memberships","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/orgs/active":{"post":{"operationId":"setActiveOrg","summary":"Set active organization for the current session.","tags":["identity"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/orgs/active","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"org_id":"org:openagents"}}}}}},"/api/policy/authorize":{"post":{"operationId":"policyAuthorize","summary":"Evaluate requested scopes/topics for an authenticated principal.","tags":["policy"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"allowed":true,"resolved_org_id":"org:openagents","granted_scopes":["runtime.read"],"denied_reasons":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/policy/authorize","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"org_id":"org:openagents","required_scopes":["runtime.read"],"requested_topics":["org:openagents:worker_events"]}}}}}},"/api/sync/token":{"post":{"operationId":"syncToken","summary":"Issue a Khala WebSocket sync token.","tags":["sync"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","tokenType":"Bearer","expiresAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/sync/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scopes":["runtime.codex_worker_events"],"topics":["org:openagents:worker_events"],"ttl_seconds":300,"device_id":"ios:device"}}}}}},"/api/runtime/threads/{thread_id}/messages":{"post":{"operationId":"runtimeThreadMessage","summary":"Submit a Codex thread message command.","tags":["codex"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"accepted","thread_id":"thread-1"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/runtime/threads/:thread_id/messages","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"text":"Summarize this thread."}}}},"parameters":[{"name":"thread_id","in":"path","required":true,"schema":{"type":"string"}}]}},"/api/v1/auth/session":{"get":{"operationId":"v1AuthSession","summary":"Compatibility alias for auth session.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"session":{"id":"sess_123","status":"active"},"user":{"id":"usr_123","email":"user@openagents.com"},"memberships":[]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/session","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."}},"/api/v1/auth/sessions":{"get":{"operationId":"v1AuthSessions","summary":"Compatibility alias for auth session list.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"sessions":[{"sessionId":"sess_123","status":"active"}]}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/sessions","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration."}},"/api/v1/auth/sessions/revoke":{"post":{"operationId":"v1AuthSessionsRevoke","summary":"Compatibility alias for session revocation.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"revokedSessionIds":["sess_123"],"reason":"security_policy"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/auth/sessions/revoke","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"revoke_all_sessions":true,"include_current":false,"reason":"security_policy"}}}}}},"/api/v1/control/status":{"get":{"operationId":"controlStatus","summary":"Read runtime control status.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"status":"ok","service":"openagents-control-service"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/status","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/v1/control/route-split/status":{"get":{"operationId":"controlRouteSplitStatus","summary":"Read route-split control status.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"mode":"cohort","override_target":null}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/status","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}]}},"/api/v1/control/route-split/override":{"post":{"operationId":"controlRouteSplitOverride","summary":"Set route-split override target.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"mode":"cohort","override_target":null}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/override","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"target":"legacy"}}}}}},"/api/v1/control/route-split/evaluate":{"post":{"operationId":"controlRouteSplitEvaluate","summary":"Evaluate route-split decision for a path.","tags":["control"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"target":"rust_shell","reason":"mode_cohort"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/control/route-split/evaluate","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"path":"/chat/thread-1","cohort_key":"user:123"}}}}}},"/api/v1/sync/token":{"post":{"operationId":"v1SyncToken","summary":"Compatibility alias for sync token issuance.","tags":["compat"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"},"example":{"data":{"token":"eyJ...","tokenType":"Bearer","expiresAt":"2026-02-22T00:00:00Z"}}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/api/v1/sync/token","security":[{"bearerAuth":[]},{"sessionCookie":[],"csrfHeader":[]}],"deprecated":true,"x-deprecated-reason":"Compatibility alias retained during Laravel-to-Rust migration.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"scopes":["runtime.codex_worker_events"],"topics":["org:openagents:worker_events"],"ttl_seconds":300,"device_id":"ios:device"}}}}}},"/openapi.json":{"get":{"operationId":"openapiDocument","summary":"Read generated OpenAPI document.","tags":["utility"],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiDataEnvelope"}}}},"default":{"$ref":"#/components/responses/ErrorEnvelope"}},"x-rustRoute":"/openapi.json"}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"token"},"sessionCookie":{"type":"apiKey","in":"cookie","name":"laravel_session"},"csrfHeader":{"type":"apiKey","in":"header","name":"x-xsrf-token"}},"schemas":{"ApiDataEnvelope":{"type":"object","properties":{"data":{"type":"object","additionalProperties":true}},"required":["data"]},"ApiErrorResponse":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}},"required":["code","message"]},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","error"]}},"responses":{"ErrorEnvelope":{"description":"Error response envelope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"},"example":{"message":"Unauthenticated.","error":{"code":"unauthorized","message":"Unauthenticated."}}}}}}}}