<div class="flex-1 flex flex-col">
  <!-- Chat messages area -->
  <div class="flex-grow overflow-y-auto p-4" id="chat-messages">
    {% include "layouts/chat_content.html" %}
  </div>

  <!-- Input area -->
  <div class="border-t border-white">
    <form class="flex" ws-send>
      <input
        id="input"
        name="content"
        type="text"
        class="text-sm flex-grow bg-black p-4 focus:outline-none"
        placeholder="Message"
        autofocus="true"
        autocomplete="false"
        spellcheck="false"
      />
      <button
        id="submit-button"
        class="w-[80px] px-4 border-l border-white hover:bg-white hover:text-black transition-colors"
      >
        Send
      </button>
    </form>
  </div>
</div>
