[package]
name = "ai"
edition = "2024"
version.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
strum = { workspace = true }
anyhow = { workspace = true }

[lints]
workspace = true
