<div id="content" class="mt-6">
  {% match path %} {% when "/" %} {% include "pages/home.html" %} {% when
  "/onyx" %} {% include "pages/onyx.html" %} {% when "/video-series" %} {%
  include "pages/video-series.html" %} {% when "/services" %} {% include
  "pages/services.html" %} {% when "/company" %} {% include "pages/company.html"
  %} {% when "/coming-soon" %} {% include "pages/coming-soon.html" %} {% when
  "/repomap" %} {% include "pages/repomap.html" %} {% when "/solver" %} {%
  include "pages/solver.html" %} {% when "/chat" %} {% include "pages/chat.html"
  %} {% when "/cota" %} {% include "pages/cota.html" %} {% else %} {% include
  "pages/404.html" %} {% endmatch %}
</div>
