<div id="content">
    {% match path %}
        {% when "/" %}
            {% include "pages/home.html" %}
        {% when "/mobile-app" %}
            {% include "pages/mobile-app.html" %}
        {% when "/video-series" %}
            {% include "pages/video-series.html" %}
        {% when "/services" %}
            {% include "pages/services.html" %}
        {% when "/company" %}
            {% include "pages/company.html" %}
        {% when "/contact" %}
            {% include "pages/contact.html" %}
        {% else %}
            {% include "pages/another-page.html" %}
    {% endmatch %}
</div>
