/* Autocomplete styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(0 0 0) inset !important;
    -webkit-text-fill-color: white !important;
}

/* Global styles for active/focused text inputs */
input:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
    border-color: white !important;
}

/* Focus-visible styles */
:focus-visible {
    outline: 1px solid white !important;
}

/* Override focus-visible styles for message textarea */
#message-textarea:focus-visible {
    outline: none !important;
    border: none !important;
}

/* Ensure no border on the message textarea */
#message-textarea {
    border: none !important;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
 .dot-flashing {
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin: 7px 10px; /* Vertical margin: 8px, Horizontal margin: 20px */
}

.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
      background-color: #ffffff;
  }
  50%, 100% {
      background-color: rgba(255, 255, 255, 0.2);
  }
}
