@layer base {
    :root {
        --background: theme('colors.white');
        --foreground: theme('colors.zinc.950');
        --card: theme('colors.white');
        --card-foreground: theme('colors.zinc.950');
        --popover: theme('colors.white');
        --popover-foreground: theme('colors.zinc.950');
        --primary: theme('colors.zinc.900');
        --primary-foreground: theme('colors.zinc.50');
        --secondary: theme('colors.zinc.100');
        --secondary-foreground: theme('colors.zinc.900');
        --muted: theme('colors.zinc.100');
        --muted-foreground: theme('colors.zinc.500');
        --accent: theme('colors.zinc.100');
        --accent-foreground: theme('colors.zinc.900');
        --destructive: theme('colors.red.500');
        --destructive-foreground: theme('colors.zinc.50');
        --border: theme('colors.zinc.200');
        --input: theme('colors.zinc.200');
        --ring: theme('colors.zinc.900');
        --radius: 0.5rem;
        --sidebar-background: theme('colors.zinc.100');
        --sidebar-foreground: theme('colors.zinc.600');
        --sidebar-primary: theme('colors.zinc.900');
        --sidebar-primary-foreground: theme('colors.zinc.50');
        --sidebar-accent: theme('colors.zinc.200');
        --sidebar-accent-foreground: theme('colors.zinc.900');
        --sidebar-border: theme('colors.zinc.400');
        --sidebar-ring: theme('colors.blue.500');
    }
    .dark {
        --background: theme('colors.zinc.950');
        --foreground: theme('colors.zinc.50');
        --card: theme('colors.zinc.950');
        --card-foreground: theme('colors.zinc.50');
        --popover: theme('colors.zinc.950');
        --popover-foreground: theme('colors.zinc.50');
        --primary: theme('colors.zinc.50');
        --primary-foreground: theme('colors.zinc.900');
        --secondary: theme('colors.zinc.800');
        --secondary-foreground: theme('colors.zinc.50');
        --muted: theme('colors.zinc.800');
        --muted-foreground: theme('colors.zinc.400');
        --accent: theme('colors.zinc.800');
        --accent-foreground: theme('colors.zinc.50');
        --destructive: theme('colors.red.900');
        --destructive-foreground: theme('colors.zinc.50');
        --border: theme('colors.zinc.800');
        --input: theme('colors.zinc.800');
        --ring: theme('colors.zinc.300');
        --sidebar-background: theme('colors.zinc.900');
        --sidebar-foreground: theme('colors.zinc.400');
        --sidebar-primary: theme('colors.zinc.700');
        --sidebar-primary-foreground: theme('colors.zinc.50');
        --sidebar-accent: theme('colors.zinc.800');
        --sidebar-accent-foreground: theme('colors.zinc.400');
        --sidebar-border: theme('colors.zinc.700');
        --sidebar-ring: theme('colors.blue.500');
    }
}