:root {
  --background: #08090a;
  --border: #23252a;
  --foreground: #f7f8f8;
  --secondary: #d0d6e0;
  --tertiary: #8a8f98;
  --quaternary: #62666d;
  --success: #04A545;
  --warning: #FEBF00;
  --danger: #e7040f;
}

