<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>upload</string>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>HQWSG26L43</string>
	<key>signingCertificate</key>
	<string>Apple Distribution: OpenAgents, Inc. (HQWSG26L43)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.openagents.coder</key>
		<string>OpenAgents Coder App Store</string>
	</dict>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
