{{ bos_token }}{% for message in messages %}{% if message['role'] == 'assistant' %}{% set role = 'model' %}{% elif message['role'] == 'system' or message['role'] == 'developer' %}{% set role = 'developer' %}{% else %}{% set role = message['role'] %}{% endif %}{{ '<|turn>' + role + '\n' + message['content'] | trim + '<turn|>\n' }}{% endfor %}{% if add_generation_prompt %}{{ '<|turn>model\n' }}{% endif %}
