@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Ultralight.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Ultralight.woff') format('woff');
    font-weight: 50;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Thin.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Light.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-LightItalic.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Clear.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Clear.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Regular.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Medium.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Semibold.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-SemiboldItalic.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-Bold.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassic';
    src: url('/fonts/BeausiteClassicWeb-RegularItalic.woff2') format('woff2'),
         url('/fonts/BeausiteClassicWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply scrollbar-none !important;
    @apply bg-neutral-50 text-foreground;
    margin-right: calc(100vw - 100%);
  }
  .t-body-chat {
    @apply border-0 focus:ring-0;
  }
}

.t-body-chat {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: -.22px;
  font-weight: 300;
}

.t-label {
  font-size: .75rem;
  line-height: .8999999999999999rem;
  letter-spacing: -.24px;
  font-weight: 350;
}

.h-dscreen {
  height: 100dvh;
}

.max-w-1\.5xl {
  max-width: 38.5rem;
}

/* .grid-background {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
} */

.grid-background {
  background-color: #000;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
                    radial-gradient(circle, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 20px 20px;
}




:root {
  --white: #fff;
  --black: #000;
  --gray-50: #f7f7f8;
  --gray-100: #ececf1;
  --gray-200: #d9d9e3;
  --gray-300: #c5c5d2;
  --gray-400: #acacbe;
  --gray-500: #8e8ea0;
  --gray-600: #565869;
  --gray-700: #40414f;
  --gray-800: #343541;
  --gray-900: #202123;
  --gray-950: #050509;
  --gizmo-gray-500: #999;
  --gizmo-gray-600: #666;
  --gizmo-gray-950: #0f0f0f;
  --brand-purple: #ab68ff
}

html {
  --text-primary: var(--gizmo-gray-950);
  --text-secondary: var(--gizmo-gray-600);
  --text-tertiary: var(--gizmo-gray-500);
  --surface-primary: var(--white);
  --surface-secondary: var(--gray-50);
  --surface-tertiary: var(--gray-100);
  --border-light: rgba(0,0,0,.1);
  --border-medium: rgba(0,0,0,.15);
  --border-heavy: rgba(0,0,0,.2);
  --border-xheavy: rgba(0,0,0,.25)
}

.dark {
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-300);
  --text-tertiary: var(--gizmo-gray-500);
  --surface-primary: var(--gray-900);
  --surface-secondary: var(--gray-800);
  --surface-tertiary: var(--gray-700);
  --border-light: rgba(217,217,227,.1);
  --border-medium: rgba(217,217,227,.15);
  --border-heavy: rgba(217,217,227,.2);
  --border-xheavy: rgba(217,217,227,.25)
}


.splashoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  pointer-events: none;
  z-index: 2;
}
