@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    /*  overflow: hidden;  remove this line*/

    /* New additions */
    height: 6px;
    background: #ccc;
  }

  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #FF9900;
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #FF9900; emove this line */
    transition: .2s ease-in-out;
  }

  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #FF9900;
    border-radius: 50%;
    border: none;

    /* box-shadow: -407px 0 0 400px #FF9900; emove this line */
    transition: .2s ease-in-out;
  }

  /* Hover, active & focus Thumb: Webkit */

  input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,153,0, .1)
  }
  input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,153,0, .2)
  }
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,153,0, .2)
  }

  /* Hover, active & focus Thumb: Firfox */

  input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,153,0, .1)
  }
  input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,153,0, .2)
  }
  input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,153,0, .2)
  }

  .range {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    height: 4rem;
    width: 100%;

    padding: 0px 10px;
  }

  .value {
    font-size: 24px;
    width: 30px;
    text-align: center;
  }
}
