@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose img {
      @apply relative mt-8 overflow-hidden rounded-xl bg-grey-50 dark:bg-grey-900 border-2 border-grey-300 dark:border-grey-700;
  }

  .prose.dark\:prose-invert.mx-auto h1 {
      text-align: center;
  }

  .prose.dark\:prose-invert.mx-auto p:has(.date) {
      @apply -mt-4 text-center mb-8;
  }

  input[type="range"]::-webkit-slider-runnable-track {
      @apply appearance-none bg-teal-vivid-100 rounded-full;
  }

  input[type="range"]::-moz-range-track {
      @apply appearance-none bg-teal-vivid-100 rounded-full;
  }
}
