apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: runtime
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: runtime
          resources:
            requests:
              cpu: 200m
              memory: 384Mi
            limits:
              cpu: 1000m
              memory: 1Gi
