# Dependencies
node_modules

# Build output
dist
build

# TypeScript
*.tsbuildinfo
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
src/**/*.d.ts.map

# Logs
*.log

# OS
.DS_Store

# IDE
.idea
.vscode

# Env files
.env
.env.local