@font-face {
  font-family: 'Berkeley Mono';
  src: url('../fonts/BerkeleyMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('../fonts/BerkeleyMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('../fonts/BerkeleyMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('../fonts/BerkeleyMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: 'Berkeley Mono', monospace;
}
