@layer components {
  @property --separator-width {
    syntax: "<length>";
    inherits: true;
    initial-value: 2px;
  }

  [is-~="separator"] {
    display: inline-flex;

    &[direction-="x"],
    &[direction-="horizontal"],
    &:not([direction-]) {
      height: 1lh;
      background-image: linear-gradient(
        0deg,
        var(--separator-background) 0,
        var(--separator-background) calc(0.5lh - var(--separator-width) / 2),
        var(--separator-color) calc(0.5lh - (var(--separator-width) / 2)),
        var(--separator-color) calc(0.5lh + (var(--separator-width) / 2)),
        var(--separator-background) calc(0.5lh + (var(--separator-width) / 2)),
        var(--separator-background)
      );
    }

    &[direction-="y"],
    &[direction-="vertical"] {
      width: 1ch;
      background-image: linear-gradient(
        to right,
        var(--separator-background) 0,
        var(--separator-background) calc(0.5ch - (var(--separator-width) / 2)),
        var(--separator-color) calc(0.5ch - (var(--separator-width) / 2)),
        var(--separator-color) calc(0.5ch + (var(--separator-width) / 2)),
        var(--separator-background) calc(0.5ch + (var(--separator-width) / 2)),
        var(--separator-background)
      );
    }

    &[variant-="foreground0"],
    &:not([variant-]) {
      --separator-color: var(--foreground0);
      --separator-background: var(--background0);
    }

    &[variant-="foreground1"] {
      --separator-color: var(--foreground1);
      --separator-background: var(--background0);
    }

    &[variant-="foreground2"] {
      --separator-color: var(--foreground2);
      --separator-background: var(--background0);
    }
  }
}
