@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Berkeley Mono", "Courier New", monospace !important;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 0%;
    --accent: 0 0% 100%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
    --chart-1: 0 0% 0%;
    --chart-2: 0 0% 0%;
    --chart-3: 0 0% 0%;
    --chart-4: 0 0% 0%;
    --chart-5: 0 0% 0%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 0%;
    --sidebar-ring: 0 0% 0%;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 0%;
    --muted-foreground: 0 0% 100%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 0% 100%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 100%;
    --input: 0 0% 0%;
    --ring: 0 0% 100%;
    --chart-1: 0 0% 100%;
    --chart-2: 0 0% 100%;
    --chart-3: 0 0% 100%;
    --chart-4: 0 0% 100%;
    --chart-5: 0 0% 100%;
    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 0% 0%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 0 0% 100%;
  }
  * {
    @apply border-border;
    font-family: "Berkeley Mono", "Courier New", monospace !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}
