/* Zinc (Dark) */
:root:has(.theme-zinc) {
  /* Backgrounds */
  --background0: #09090b; /* zinc-950 */
  --background1: #18181b; /* zinc-900 */
  --background2: #27272a; /* zinc-800 */
  --background3: #3f3f46; /* zinc-700 */
  
  /* Foregrounds */
  --foreground0: #a1a1aa; /* zinc-400 */
  --foreground1: #d4d4d8; /* zinc-300 */
  --foreground2: #e4e4e7; /* zinc-200 */
  
  /* Accent colors */
  --accent: #71717a; /* zinc-500 */
  --success: #52525b; /* zinc-600 */
  --warning: #a1a1aa; /* zinc-400 */
  --danger: #52525b; /* zinc-600 */
  
  /* Overlays */
  --overlay0: rgba(0, 0, 0, 0.7);
  --overlay1: rgba(0, 0, 0, 0.5);
  --overlay2: rgba(0, 0, 0, 0.3);
  --overlay3: rgba(0, 0, 0, 0.1);
}