<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <meta name="application-name" content="OpenAgents"/>
    <meta name="description" content="Software to increase human agency."/>
    <meta name="author" content="OpenAgents, Inc.">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/videos-new.css"/>
    <script src="js/htmx.min.js"></script>
    <script src="js/client-side-templates.js"></script>
    <script src="js/mustache.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <style>
        .btn-nav {
            font-stretch: normal;
            position: relative;
            top: -0.125rem;
            height: 1.5rem;
            padding: 0.25rem 0 0.05rem 0;
            border: 0.1rem solid #fff;
            box-shadow: 2px 2px #666;
            -webkit-appearance: none;
            appearance: none;
        }
    </style>
</head>

<body class="bg-black text-white font-mono min-h-screen max-w-[60rem] sm:border sm:border-white leading-6 mt-8 mb-8 py-2 px-4 pb-1 mx-auto">
    <div class="container mx-auto">
        <div hx-get="/templates/header.mustache"
             hx-trigger="load">
        </div>

        <template id="button-template">
            <a class="btn-nav bg-black hover:bg-zinc-900 text-white text-xs inline-flex items-center justify-center whitespace-nowrap select-none text-center align-middle no-underline outline-none w-full px-6" href="{{href}}">{{text}}</a>
        </template>

        <div id="videos" 
             hx-get="/data/videos.json" 
             hx-trigger="load" 
             hx-ext="client-side-templates"
             mustache-template="videos-template">
        </div>

        <template id="videos-template">
            <div class="videos">
                <div class="videos-title">Recent Videos</div>
                {{#videos}}
                <div class="video-entry {{^tweetId}}coming-soon{{/tweetId}}">
                    <div class="video-title">{{title}}</div>
                    <div class="video-date">{{date}}</div>
                    <div class="video-text">{{text}}</div>
                    {{#tweetId}}
                    <blockquote class="twitter-tweet" data-conversation="none" data-media-max-width="560" data-theme="dark">
                        <p lang="en" dir="ltr">Loading X post...</p>
                        <a href="https://twitter.com/OpenAgentsInc/status/{{tweetId}}?ref_src=twsrc%5Etfw"></a>
                    </blockquote>
                    {{/tweetId}}
                </div>
                {{/videos}}
            </div>
        </template>

        <script>
            document.body.addEventListener('htmx:afterSwap', function (evt) {
                if (window.twttr && window.twttr.widgets) {
                    window.twttr.widgets.load();
                }
            });
        </script>
    </div>
</body>
</html>
