{% import "nav_button.html" as nav -%}
<div class="grid grid-cols-3 lg:grid-cols-6 gap-4 py-4">
    {{ nav::nav_button(href="/", text="Home", current_path=path) }}
    {{ nav::nav_button(href="/mobile-app", text="Mobile App", current_path=path) }}
    {{ nav::nav_button(href="/business", text="Services", current_path=path) }}
    {{ nav::nav_button(href="/video-series", text="Video Series", current_path=path) }}
    {{ nav::nav_button(href="/company", text="Company", current_path=path) }}
    {{ nav::nav_button(href="/contact", text="Contact", current_path=path) }}
</div>