@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #00ffff;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.font-sans {
  font-family: var(--font-titillium), sans-serif;
}

.font-mono {
  font-family: var(--font-berkeley-mono), monospace;
}
