<header class="py-5 border-b border-zinc-800 mb-5">
    <div class="flex justify-between items-center">
        <div>
            <div class="text-xs font-bold">OpenAgents, Inc.</div>
            <p class="text-xs mt-2">Software to increase human agency.</p>
        </div>
        <nav>
            <ul class="flex space-x-6">
                <li><a href="/" class="text-white hover:text-zinc-300">Home</a></li>
                <li><a href="/company" class="text-white hover:text-zinc-300">Company</a></li>
                <li><a href="/mobile-app" class="text-white hover:text-zinc-300">Mobile App</a></li>
                <li><a href="/business" class="text-white hover:text-zinc-300">Services</a></li>
                <li><a href="/video-series" class="text-white hover:text-zinc-300">Video Series</a></li>
                <li><a href="/contact" class="text-white hover:text-zinc-300">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
