<div class="form-group">
    <label for="{{id}}" class="block text-sm font-medium text-gray-700">{{label}}</label>
    <input type="text" id="{{id}}" name="{{name}}" class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" placeholder="{{placeholder}}" value="{{value}}">
</div>
