apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: runtime
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: runtime
          resources:
            requests:
              cpu: 500m
              memory: 768Mi
            limits:
              cpu: 2000m
              memory: 2Gi
