@font-face {
  font-family: "Berkeley Mono";
  src:
    url("../assets/fonts/berkeley-mono/BerkeleyMono-Regular.woff2")
      format("woff2"),
    url("../assets/fonts/berkeley-mono/BerkeleyMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src:
    url("../assets/fonts/berkeley-mono/BerkeleyMono-Bold.woff2") format("woff2"),
    url("../assets/fonts/berkeley-mono/BerkeleyMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Berkeley Mono";
  src:
    url("../assets/fonts/berkeley-mono/BerkeleyMono-Italic.woff2")
      format("woff2"),
    url("../assets/fonts/berkeley-mono/BerkeleyMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Berkeley Mono";
  src:
    url("../assets/fonts/berkeley-mono/BerkeleyMono-BoldItalic.woff2")
      format("woff2"),
    url("../assets/fonts/berkeley-mono/BerkeleyMono-BoldItalic.woff")
      format("woff");
  font-weight: bold;
  font-style: italic;
}
